.header-component{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content:space-between;
    border-bottom: 0.5px solid rgb(229, 229, 229);
    background-color: rgb(246, 250, 253);
    
}
.search-container{
    display: flex;
    align-items: center;
    border: 1.5px solid rgb(91, 216, 247);
    padding: 6px 11px;
    border-radius: 22px;
    box-shadow: 1px 1px 6px rgb(86, 96, 99);
    gap: 3px;
}
.search-container input{
    outline: none;
    border: none;
}

.buttons-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.buttons-container button {
  background-color: #0388bd;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 22px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 1px 1px 6px rgb(72, 72, 72);
  transition: background-color 1s ease;
}

.buttons-container button:hover {
  background-color:rgb(48, 29, 0);
}

.body-component1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 15px;
    border-radius: 10px;
    height: 50vh;
    box-shadow: 0.5px 0.5px 9px rgb(193, 193, 193);
    background-color: rgb(246, 250, 253);
}
.text-container {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: cursive;
  width: 690px;
  padding-left: 90px;
  padding-top: 18px;
}

.static-text {
  color: #0388bd;
}

.typing-text {
  font-family:cursive;
  color: #0388bd;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #0388bd;
  animation: typing 4.5s steps(14) infinite, blink 0.7s step-end infinite;
}

@keyframes typing {
  0% {
    width: 5ch;
  }
  50% {
    width: 13ch;
  }
  100% {
    width: 5ch;
  }
}

@keyframes blink {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: #0388bd;
  }
}
